- value = custom_field_value ? custom_field_value.seller_value : ""
- value2 = "#{custom_field.name(I18n.locale)}#{custom_field.required ? '*' : ''}"
= hidden_field_tag "custom_fields[#{custom_field.id}]", value2, :class => (custom_field.required? ? "required" : "")