%form#imageUploadForm{:action=> "/#{target_user.id}/settings/create_picture", :method=> :post }
	%input#fileDragData{:name => "images_collection", :type => "hidden", :value => ""}/
	%input#fileDragDataArray{:name => "image_array", :type => "hidden", :value => ""}/
	%input#idsContainer{:name => "ids_container", :type => "hidden", :value => ""}/

