.header-left.header-logo-container {
    height: 77px;
}

.header-logo {
    display: block;
    display: block;
    margin-top: 0em;
    margin-bottom: 0.625em;
    height: 4.8em;
}

i.header-wide-logo.visible-tablet {
    height: 5.8em !important;
    margin-top: -37px !important;
    margin-left: -70px;
}

a#new-listing-link {
    border-radius: 0px;
    height: 41px !important;
    padding-top: 2px;
}