header {
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -66px;
    width: 350px;
}

.dark_version .is-sticky .main_header_area, .dark_version .testimonial_area .owl-dot {
    background-color: #fff;
}

.mainmenu ul#nav li:hover { 
          background-color: #ddd;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}



.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}



#myFooter {
    background-color: #00a7b4;
    color: white;
    padding-top: 30px;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter h5 {
    padding-top: 38px;
    text-align: center;
}

#myFooter h5 a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.type-wrap {
    text-align: center;
}

span#typed {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    background-color: transparent;
}

#myFooter .social-networks a {
    font-size: 32px !important;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #2d9ea4;
    white-space: nowrap;
    font-size: 15px;
}

.page-landing .hero-container form .left-input-container {
    width: 730px;
    float: left;
}

.new-listing-link {
    background: #c71e6b !important;
    color: #fff !important;
}

.new-listing-link:hover {
    background: #b52866 !important;
    color: #fff !important;
    font-size:15.5;
}

.new-listing-link:active{
    background: #c71e6b !important;
    color: #fff !important;

}

 b {
    text-align: center;
}

.container.steple {
    margin-top: 50px;
}

#steps li {
    margin: 42px 0;
    text-align: center;
}


 b {
    display: block;
    margin-bottom: 8px;
    font-size: 1.3em;
}
b, p.parag {
    padding: 0 4%;
}

b {
    line-height: 1.2;
}
b {
    font-weight: bold;
    text-transform: uppercase;
}

p.parag {
    margin-bottom: 22px;
    font-size: 1em;
    text-align: center;
}
 b,  p,parag {
    padding: 0 4%;
}

img.img-responsive.owl-slr {
    display: block;
    margin: 0 auto;
}



button.navbar-toggle:hover {
    background-color:#fff;
}

#search-explore .img:before {
    left: 0;
    background-image: -webkit-linear-gradient(left, color-stop(#fff 0%), color-stop(rgba(255,255,255,0) 100%));
    background-image: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=1);
}
#search-explore .img:before, #search-explore .img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 22%;
    height: 100%;
    z-index: 1;
}



#search-explore .img img {
    position: absolute;
    left: -250px;
    bottom: 0;
    padding: 0 4%;
}
img#building1 {
    width: 172px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

#search-explore .img, #search-explore .img div {
    height: 182px;
}


#search-explore .img:after {
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(255,255,255,0) 0%), color-stop(#fff 100%));
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=1);
}

#search-explore .img:before, #search-explore .img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 22%;
    height: 100%;
    z-index: 1;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px) {
#steps p {
    margin-bottom: 32px;
} }

@media only screen and (min-width: 64.063em) {
section.spaced {
    padding: 20px 0;
} }



@media only screen and (min-width: 64.063em) {
.hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
} }



@media (min-width: 992px) {
#destinations a {
    height: 200px;
    font-size: 1.5714285714em;
 } }

@media (max-width: 992px) {
p.parag {
    margin-bottom: 60px;
}

 }

 @media (min-width: 768px) {
#destinations a { 
    height: 21vw !important;
    font-size: 1.4285714286em;
} }

@media (min-width: 640px) {
#destinations a {
    height: 180px;
} }

@media (min-width: 480px) {
#destinations a {
    height: 140px;
} }

@media (min-width: 320px) {
#destinations a {
    height: 100px;
}}


/*



 
@media (min-width: 1024px) {
input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -96px;
    width: 350px;
}
}
@media (min-width: 992px) {
input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -100px;
    width: 350px;
}
} 

@media (min-width: 768px) {
input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -110px;
    width: 350px;
}
} 

@media (max-width: 1200px) {
input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -50px;
}

button.btn.btn-lg.btn-primary.home-search {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    margin-left: 3px;
    width: 140px;
} 

input.center-block.form-control.input-lg.home-search {
    border-radius: 0px;
    font-size: 15px;
    margin-left: -66px;
    width: 350px;
}

#destinations a {
    height: 264px !important;
} 

}

@media (min-width: 1024px) {
button.btn.btn-lg.btn-primary.home-search {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    margin-left: 3px;
    width: 140px;
} }

@media (min-width: 992px) {
button.btn.btn-lg.btn-primary.home-search {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    margin-left: 3px;
    width: 140px;
} }

@media (min-width: 768px) {
button.btn.btn-lg.btn-primary.home-search {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    margin-left: 3px;
    width: 120px;
} }*/

