
.building-animate { 
    margin: 42px 0;
    width:376px;
    padding: 0 15px;
    float:left;
}
.building-animate .owl-carousel {
    overflow: hidden;
    position: relative;
}
.building-animate .owl-carousel::before, .building-animate .owl-carousel::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width:90px;
    z-index: 1;
}
.building-animate .owl-carousel::before {
    background-image:linear-gradient(to right,rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 50%);
    background-repeat: repeat-x;
    left: 0;
}
.building-animate .owl-carousel::after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 50%);
    background-repeat: repeat-x;
    right: 0;
}
.selves {
    position: relative;
    margin: 42px 0;
    width:220px;
    padding:0 15px;
    float:left;
}
.selves .owl-carousel{
    height: 160px;
    left: 32px;
    overflow: hidden;
    position: absolute;
    width: 165px;
    top: 123px; 
}
.delivery-truck {
    position: relative;
    margin: 42px 0;
    width:220px;
    padding:0 15px;
    float:left;
}
.delivery-truck .owl-carousel {
    height: 160px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    top: 150px;
    width: 189px;
}