<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Local Shelf</title>
<%= stylesheet_link_tag 'landing_page_new/base', :media => "all" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/4d5275c44d.js"></script>
  <%= javascript_include_tag "landing_page_new/base" %>

  <script>

	 jQuery(document).ready(function($) {
		$("#owl-building").owlCarousel({
			items:3,
			loop:true,
			autoplay:true,
			rewindSpeed: 0,
			autoPlay: 3800
		});
		$("#owl-selves").owlCarousel({
			items:2,
			loop:true,
			autoplay:true,
			rewindSpeed: 0,
			autoPlay: 2500
		});
		$("#owl-delivery").owlCarousel({
			items:1,
			loop:true,
			autoplay:true,
			rewindSpeed: 0,
			autoPlay: 4600
		});
		
	});
</script>
</head>
<body>
  <%=yield%>



  
</body>